<a href="https://colab.research.google.com/github/kquacken/module5_intro_to_pyspark/blob/main/5_1_intro_to_pyspark_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Setting up Colab

To run this notebook on [Google's Colab](https://colab.research.google.com), you will need to perform the following steps.

#### Step 1. Install `pyspark`

Since `pyspark` isn't included in Colab's Python installation, you will need to install it each time you open this notebook.

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 52 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 44.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=c2c1be1a8480bf1222673b1aa88393f2c3bb20cb42c84e5c5971ebadd09a940f
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
!pip install composable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting composable
  Downloading composable-0.2.5-py3-none-any.whl (7.3 kB)
Collecting python-forge<19.0,>=18.6
  Downloading python_forge-18.6.0-py35-none-any.whl (31 kB)
Collecting toolz<0.12.0,>=0.11.1
  Downloading toolz-0.11.2-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.7 MB/s
Installing collected packages: toolz, python-forge, composable
  Attempting uninstall: toolz
    Found existing installation: toolz 0.12.0
    Uninstalling toolz-0.12.0:
      Successfully uninstalled toolz-0.12.0
Successfully installed composable-0.2.5 python-forge-18.6.0 toolz-0.11.2

Step 2. Download and unzip the data

Next, the easiest way to access the data from the module is to download and unzip.

In [3]:
!wget https://github.com/wsu-stat489/module5_intro_to_pyspark/raw/main/data.zip

--2022-10-20 20:23:35--  https://github.com/wsu-stat489/module5_intro_to_pyspark/raw/main/data.zip
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/wsu-stat489/module5_intro_to_pyspark/main/data.zip [following]
--2022-10-20 20:23:35--  https://raw.githubusercontent.com/wsu-stat489/module5_intro_to_pyspark/main/data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14977210 (14M) [application/zip]
Saving to: ‘data.zip’

data.zip            100%[===================>]  14.28M  --.-KB/s    in 0.1s

2022-10-20 20:23:37 (103 MB/s) - ‘data.zip’ saved [14977210/14977210]

In [4]:
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: __MACOSX/._data
  inflating: data/.DS_Store
  inflating: __MACOSX/data/._.DS_Store
  inflating: data/Rochester_temps_2019.xlsx
  inflating: __MACOSX/data/._Rochester_temps_2019.xlsx
  inflating: data/uber-raw-data-jun14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-jun14-sample.csv
  inflating: data/heroes_information.csv
  inflating: __MACOSX/data/._heroes_information.csv
  inflating: data/employee.csv
  inflating: __MACOSX/data/._employee.csv
  inflating: data/uber-raw-data-apr14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-apr14-sample.csv
   creating: data/baseball/
  inflating: __MACOSX/data/._baseball
  inflating: data/uber-raw-data-may14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-may14-sample.csv
  inflating: data/auto_sales_apr.csv
  inflating: __MACOSX/data/._auto_sales_apr.csv
  inflating: data/uber-raw-data-sep14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-sep14-sample.csv
  inflating: data/department.csv
  inflating: __MACOSX/data/._department.csv
  inflating: data/PEW_income_religion.csv
  inflating: __MACOSX/data/._PEW_income_religion.csv
  inflating: data/health_survey.csv
  inflating: __MACOSX/data/._health_survey.csv
  inflating: data/super_hero_powers.csv
  inflating: __MACOSX/data/._super_hero_powers.csv
  inflating: data/TB_bad.csv
  inflating: __MACOSX/data/._TB_bad.csv
  inflating: data/uber-raw-data-aug14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-aug14-sample.csv
  inflating: data/uber-raw-data-jul14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-jul14-sample.csv
  inflating: data/auto_sales_may.csv
  inflating: __MACOSX/data/._auto_sales_may.csv
  inflating: data/auto_sales.csv
  inflating: __MACOSX/data/._auto_sales.csv
  inflating: data/Rochester_temps_2019.csv
  inflating: __MACOSX/data/._Rochester_temps_2019.csv
   creating: data/baseball/core/
  inflating: __MACOSX/data/baseball/._core
  inflating: data/baseball/README.txt
  inflating: __MACOSX/data/baseball/._README.txt
   creating: data/baseball/upstream/
  inflating: __MACOSX/data/baseball/._upstream
  inflating: data/baseball/core/AwardsManagers.csv
  inflating: __MACOSX/data/baseball/core/._AwardsManagers.csv
  inflating: data/baseball/core/Managers.csv
  inflating: __MACOSX/data/baseball/core/._Managers.csv
  inflating: data/baseball/core/AwardsPlayers.csv
  inflating: __MACOSX/data/baseball/core/._AwardsPlayers.csv
  inflating: data/baseball/core/Fielding.csv
  inflating: __MACOSX/data/baseball/core/._Fielding.csv
  inflating: data/baseball/core/Salaries.csv
  inflating: __MACOSX/data/baseball/core/._Salaries.csv
  inflating: data/baseball/core/Parks.csv
  inflating: __MACOSX/data/baseball/core/._Parks.csv
  inflating: data/baseball/core/Schools.csv
  inflating: __MACOSX/data/baseball/core/._Schools.csv
  inflating: data/baseball/core/People.csv
  inflating: __MACOSX/data/baseball/core/._People.csv
  inflating: data/baseball/core/PitchingPost.csv
  inflating: __MACOSX/data/baseball/core/._PitchingPost.csv
  inflating: data/baseball/core/Teams.csv
  inflating: __MACOSX/data/baseball/core/._Teams.csv
  inflating: data/baseball/core/Appearances.csv
  inflating: __MACOSX/data/baseball/core/._Appearances.csv
  inflating: data/baseball/core/AwardsSharePlayers.csv
  inflating: __MACOSX/data/baseball/core/._AwardsSharePlayers.csv
  inflating: data/baseball/core/TeamsFranchises.csv
  inflating: __MACOSX/data/baseball/core/._TeamsFranchises.csv
  inflating: data/baseball/core/Batting.csv
  inflating: __MACOSX/data/baseball/core/._Batting.csv
  inflating: data/baseball/core/ManagersHalf.csv
  inflating: __MACOSX/data/baseball/core/._ManagersHalf.csv
  inflating: data/baseball/core/FieldingOF.csv
  inflating: __MACOSX/data/baseball/core/._FieldingOF.csv
  inflating: data/baseball/core/Pitching.csv
  inflating: __MACOSX/data/baseball/core/._Pitching.csv
  inflating: data/baseball/core/CollegePlaying.csv
  inflating: __MACOSX/data/baseball/core/._CollegePlaying.csv
  inflating: data/baseball/core/HomeGames.csv
  inflating: __MACOSX/data/baseball/core/._HomeGames.csv
  inflating: data/baseball/core/HallOfFame.csv
  inflating: __MACOSX/data/baseball/core/._HallOfFame.csv
  inflating: data/baseball/core/readme2014.txt
  inflating: __MACOSX/data/baseball/core/._readme2014.txt
  inflating: data/baseball/core/AwardsShareManagers.csv
  inflating: __MACOSX/data/baseball/core/._AwardsShareManagers.csv
  inflating: data/baseball/core/BattingPost.csv
  inflating: __MACOSX/data/baseball/core/._BattingPost.csv
  inflating: data/baseball/core/TeamsHalf.csv
  inflating: __MACOSX/data/baseball/core/._TeamsHalf.csv
  inflating: data/baseball/core/SeriesPost.csv
  inflating: __MACOSX/data/baseball/core/._SeriesPost.csv
  inflating: data/baseball/core/FieldingPost.csv
  inflating: __MACOSX/data/baseball/core/._FieldingPost.csv
  inflating: data/baseball/core/AllstarFull.csv
  inflating: __MACOSX/data/baseball/core/._AllstarFull.csv
  inflating: data/baseball/core/FieldingOFsplit.csv
  inflating: __MACOSX/data/baseball/core/._FieldingOFsplit.csv
  inflating: data/baseball/upstream/Teams.csv
  inflating: __MACOSX/data/baseball/upstream/._Teams.csv

In [5]:
!ls ./data

auto_sales_apr.csv	  Rochester_temps_2019.xlsx
auto_sales.csv		  super_hero_powers.csv
auto_sales_may.csv	  TB_bad.csv
baseball		  uber-raw-data-apr14-sample.csv
department.csv		  uber-raw-data-aug14-sample.csv
employee.csv		  uber-raw-data-jul14-sample.csv
health_survey.csv	  uber-raw-data-jun14-sample.csv
heroes_information.csv	  uber-raw-data-may14-sample.csv
PEW_income_religion.csv   uber-raw-data-sep14-sample.csv
Rochester_temps_2019.csv

In [6]:
!wget https://github.com/wsu-stat489/module5_intro_to_pyspark/raw/main/more_pyspark.py

--2022-10-20 20:23:38--  https://github.com/wsu-stat489/module5_intro_to_pyspark/raw/main/more_pyspark.py
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/wsu-stat489/module5_intro_to_pyspark/main/more_pyspark.py [following]
--2022-10-20 20:23:38--  https://raw.githubusercontent.com/wsu-stat489/module5_intro_to_pyspark/main/more_pyspark.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2786 (2.7K) [text/plain]
Saving to: ‘more_pyspark.py’

more_pyspark.py     100%[===================>]   2.72K  --.-KB/s    in 0s

2022-10-20 20:23:39 (44.5 MB/s) - ‘more_pyspark.py’ saved [2786/2786]

In [7]:
!wget https://raw.githubusercontent.com/wsu-stat489/module4_common_filter_operations/main/data/super_hero_powers.csv

--2022-10-20 20:23:39--  https://raw.githubusercontent.com/wsu-stat489/module4_common_filter_operations/main/data/super_hero_powers.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 672305 (657K) [text/plain]
Saving to: ‘super_hero_powers.csv’

super_hero_powers.c 100%[===================>] 656.55K  --.-KB/s    in 0.05s

2022-10-20 20:23:40 (12.2 MB/s) - ‘super_hero_powers.csv’ saved [672305/672305]

In [8]:
!mv super_hero_powers.csv ./data

In [9]:
!ls data

auto_sales_apr.csv	  Rochester_temps_2019.xlsx
auto_sales.csv		  super_hero_powers.csv
auto_sales_may.csv	  TB_bad.csv
baseball		  uber-raw-data-apr14-sample.csv
department.csv		  uber-raw-data-aug14-sample.csv
employee.csv		  uber-raw-data-jul14-sample.csv
health_survey.csv	  uber-raw-data-jun14-sample.csv
heroes_information.csv	  uber-raw-data-may14-sample.csv
PEW_income_religion.csv   uber-raw-data-sep14-sample.csv
Rochester_temps_2019.csv

# Introduction to `pyspark.sql.DataFrame`s

Adapted from [Databrick's tutorial](https://docs.databricks.com/spark/latest/dataframes-datasets/introduction-to-dataframes-python.html)

In [10]:
# import pyspark class Row from module sql
from pyspark.sql import *

## What is spark?

* Build for the Hadoop platform
* Replacement of MapReduce
* Second-generation optimization
    * Lazy
    * Optimized
    * Persistent data structures
* Written in scala

## Ok ... so what's Hadoop?

* Distributed computing platform
* [Used by lots of companies](https://wiki.apache.org/hadoop/PoweredBy)
* Becoming an industry standard

## What is `pyspark`?

* Python interface to spark
* Needs a spark session
    * `session` $\leftrightarrow$ spark

## Step 0 - Create a spark session

* `pyspark` communicates with `spark` through a session
* Similar to `sqlalchemy` session.

In [11]:
spark = SparkSession.builder.appName('Ops').getOrCreate()

## Overview -  `pyspark.DataFrame`

* A `DataFrame` is a collection of `Row`s
* `Row`s can be distributed over many machines
* `spark`
    * Hides the messy details
    * Optimizes operations

## Creating a `Row` of data

* Use the `Row` class
* Pass data using keywords
    * key == column name
    * value == cell value

In [12]:
department1 = Row(id='123456', name='Computer Science')
department1

Row(id='123456', name='Computer Science')

## Unpacking a `Row` dictionary

* Data is in a row dictionary
* Unpack keywords using `**`

In [13]:
dept2_info = {'id':'789012', 'name':'Mechanical Engineering'}
department2 = Row(**dept2_info)
department2

Row(id='789012', name='Mechanical Engineering')

## Unpacking a list of row dictionaries

In [14]:
dept_info = [{'id':123456, 'name':'Computer Science'},
             {'id':789012, 'name':'Mechanical Engineering'},
             {'id':345678, 'name':'Theater and Drama'},
             {'id':901234, 'name':'Indoor Recreation'}]

dept_rows = [Row(**r) for r in dept_info]
dept_rows

[Row(id=123456, name='Computer Science'),
 Row(id=789012, name='Mechanical Engineering'),
 Row(id=345678, name='Theater and Drama'),
 Row(id=901234, name='Indoor Recreation')]

## Access `Row` content with column attributes

In [15]:
[dept.id for dept in dept_rows]

[123456, 789012, 345678, 901234]

In [16]:
[dept.name for dept in dept_rows]

['Computer Science',
 'Mechanical Engineering',
 'Theater and Drama',
 'Indoor Recreation']

## Creating a `pyspark.DataFrame`

* A `DataFrame` is a collection of `Row`s
* Create with spark.createDataFrame
* Need to have a

In [17]:
df = spark.createDataFrame(dept_rows)
df

DataFrame[id: bigint, name: string]

## How to think about a `pyspark.DataFrame`

<img src="https://github.com/wsu-stat489/module5_intro_to_pyspark/blob/main/img/pyspark_df.png?raw=1" width=600>

## Example - `filter` and `collect`

In [18]:
output = (df
            .filter(df.name.startswith('C'))
            .collect())
output

[Row(id=123456, name='Computer Science')]

## Why is `pyspark` so slow

* Optimized for 
    * Distributed computation
    * Big data 
* Not great for
    * Local work
    * Small data

## `filter` and `collect` illustrated

<img src="https://github.com/wsu-stat489/module5_intro_to_pyspark/blob/main/img/pyspark_filter_collect.gif?raw=1" width=600>

## Reading a `csv` file with `spark.read.csv`

In [19]:
heros = spark.read.csv('./data/heroes_information.csv', header=True)
heros

DataFrame[_c0: string, name: string, Gender: string, Eye color: string, Race: string, Hair color: string, Height: string, Publisher: string, Skin color: string, Alignment: string, Weight: string]

## Inspecting the column types

In [20]:
heros.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair color: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: string (nullable = true)

## Gathering results in `pyspark.sql`

* **Important fact** All `pyspark` queries end in a collection method
* **Why?** Data is (possibly) spread across many machines
* <font color = "red"> **Warning** This might be is *expensive*! Know how much data your are requesting! </font>

## Gathering methods

* `collect` returns all values
* `take(n)` returns the first `n` values 
* `sample(n)` returns `n` randomly selected values

## Inspecting the content - `take`

In [21]:
heros.take(5)

[Row(_c0='0', name='A-Bomb', Gender='Male', Eye color='yellow', Race='Human', Hair color='No Hair', Height='203.0', Publisher='Marvel Comics', Skin color='-', Alignment='good', Weight='441.0'),
 Row(_c0='1', name='Abe Sapien', Gender='Male', Eye color='blue', Race='Icthyo Sapien', Hair color='No Hair', Height='191.0', Publisher='Dark Horse Comics', Skin color='blue', Alignment='good', Weight='65.0'),
 Row(_c0='2', name='Abin Sur', Gender='Male', Eye color='blue', Race='Ungaran', Hair color='No Hair', Height='185.0', Publisher='DC Comics', Skin color='red', Alignment='good', Weight='90.0'),
 Row(_c0='3', name='Abomination', Gender='Male', Eye color='green', Race='Human / Radiation', Hair color='No Hair', Height='203.0', Publisher='Marvel Comics', Skin color='-', Alignment='bad', Weight='441.0'),
 Row(_c0='4', name='Abraxas', Gender='Male', Eye color='blue', Race='Cosmic Entity', Hair color='Black', Height='-99.0', Publisher='Marvel Comics', Skin color='-', Alignment='bad', Weight='-99.0')]

## Inspecting the content - `sample`

In [22]:
sample = heros.sample(fraction=0.01).collect()
sample

[Row(_c0='257', name='Firelord', Gender='-', Eye color='white', Race='-', Hair color='Yellow', Height='193.0', Publisher='Marvel Comics', Skin color='-', Alignment='good', Weight='99.0'),
 Row(_c0='363', name='Jim Powell', Gender='Male', Eye color='-', Race='-', Hair color='-', Height='-99.0', Publisher='ABC Studios', Skin color='-', Alignment='good', Weight='-99.0'),
 Row(_c0='436', name='Match', Gender='Male', Eye color='black', Race='-', Hair color='Black', Height='-99.0', Publisher='DC Comics', Skin color='-', Alignment='bad', Weight='-99.0'),
 Row(_c0='457', name='Mister Freeze', Gender='Male', Eye color='-', Race='Human', Hair color='-', Height='183.0', Publisher='DC Comics', Skin color='-', Alignment='bad', Weight='86.0'),
 Row(_c0='516', name='Phantom', Gender='Male', Eye color='-', Race='-', Hair color='-', Height='-99.0', Publisher='DC Comics', Skin color='-', Alignment='good', Weight='-99.0'),
 Row(_c0='713', name='White Canary', Gender='Female', Eye color='brown', Race='Human', Hair color='Black', Height='-99.0', Publisher='DC Comics', Skin color='-', Alignment='bad', Weight='-99.0')]

## Switching to a `pd.DataFrame` (because that was UGLY)

You can pipe the results into `more_pyspark.to_pandas` to get the results in a dataframe

In [23]:
from more_pyspark import to_pandas

sample >> to_pandas

,_c0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,257,Firelord,-,white,-,Yellow,193.0,Marvel Comics,-,good,99.0
1,363,Jim Powell,Male,-,-,-,-99.0,ABC Studios,-,good,-99.0
2,436,Match,Male,black,-,Black,-99.0,DC Comics,-,bad,-99.0
3,457,Mister Freeze,Male,-,Human,-,183.0,DC Comics,-,bad,86.0
4,516,Phantom,Male,-,-,-,-99.0,DC Comics,-,good,-99.0
5,713,White Canary,Female,brown,Human,Black,-99.0,DC Comics,-,bad,-99.0

## Getting all results with `collect`

<font color = "red"> **Warning** This might be is *expensive*! Know how much data your are requesting! </font> 

**The `collect` rule:** `count` before `collect`

In [24]:
heros.collect() >> to_pandas # <-- probably don't do this

,_c0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
732,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0
733,733,Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0

In [25]:
heros.filter(heros['Eye Color'] == 'blue').collect() >> to_pandas # <-- better but still might be lots, let's check

,_c0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
1,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
2,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0
3,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,-,bad,122.0
4,6,Adam Monroe,Male,blue,-,Blond,-99.0,NBC - Heroes,-,good,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
220,726,X-Man,Male,blue,-,Brown,175.0,Marvel Comics,-,good,61.0
221,727,Yellow Claw,Male,blue,-,No Hair,188.0,Marvel Comics,-,bad,95.0
222,728,Yellowjacket,Male,blue,Human,Blond,183.0,Marvel Comics,-,good,83.0
223,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0
224,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0

In [26]:
# Iverson's Law -- Count before you collect!
heros.filter(heros['Eye Color'] == 'blue').count()

225

## Did you notice?

<img src="https://github.com/wsu-stat489/module5_intro_to_pyspark/blob/main/img/pyspark_missing_values.png?raw=1" width=400>

## Specifying a `nullValue`

In [27]:
heros = spark.read.csv('./data/heroes_information.csv', header=True, nullValue='-')
heros.take(5) >> to_pandas

,_c0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0

## Did you notice?

<img src="https://github.com/wsu-stat489/module5_intro_to_pyspark/blob/main/img/pyspark_default_types.png?raw=1" width=400>

Default type is a string

## Letting `spark` guess the types

Set `inferScheme=True`

In [28]:
heros = spark.read.csv('./data/heroes_information.csv', header=True, inferSchema=True, nullValue='-')
heros

DataFrame[_c0: int, name: string, Gender: string, Eye color: string, Race: string, Hair color: string, Height: double, Publisher: string, Skin color: string, Alignment: string, Weight: double]

## Checking the column types after `inferScheme`

In this case, `spark` guessed correctly

In [29]:
heros.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Eye color: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Hair color: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Skin color: string (nullable = true)
 |-- Alignment: string (nullable = true)
 |-- Weight: double (nullable = true)

## Inspecting the content - `take`

In [30]:
heros.take(5)

[Row(_c0=0, name='A-Bomb', Gender='Male', Eye color='yellow', Race='Human', Hair color='No Hair', Height=203.0, Publisher='Marvel Comics', Skin color=None, Alignment='good', Weight=441.0),
 Row(_c0=1, name='Abe Sapien', Gender='Male', Eye color='blue', Race='Icthyo Sapien', Hair color='No Hair', Height=191.0, Publisher='Dark Horse Comics', Skin color='blue', Alignment='good', Weight=65.0),
 Row(_c0=2, name='Abin Sur', Gender='Male', Eye color='blue', Race='Ungaran', Hair color='No Hair', Height=185.0, Publisher='DC Comics', Skin color='red', Alignment='good', Weight=90.0),
 Row(_c0=3, name='Abomination', Gender='Male', Eye color='green', Race='Human / Radiation', Hair color='No Hair', Height=203.0, Publisher='Marvel Comics', Skin color=None, Alignment='bad', Weight=441.0),
 Row(_c0=4, name='Abraxas', Gender='Male', Eye color='blue', Race='Cosmic Entity', Hair color='Black', Height=-99.0, Publisher='Marvel Comics', Skin color=None, Alignment='bad', Weight=-99.0)]

## Explicit `schema` specification

Format is `add(name, type, nullable?)`

In [31]:
from pyspark.sql.types import StructType
from pyspark.sql.types import DoubleType, StringType, IntegerType

hero_schema = (StructType()
  .add('Id', IntegerType(), False)
  .add('name', StringType(), True)
  .add('Gender', StringType(), True)
  .add('Eye color', StringType(), True)
  .add('Race', StringType(), True)
  .add('Hair color', StringType(), True)
  .add('Height', DoubleType(), True)
  .add('Publisher', StringType(), True)
  .add('Skin color', StringType(), True)
  .add('Alignment', StringType(), True)
  .add('Weight', DoubleType(), True))

heros = spark.read.csv('./data/heroes_information.csv', header=True, schema=hero_schema, nullValue='-')
heros

DataFrame[Id: int, name: string, Gender: string, Eye color: string, Race: string, Hair color: string, Height: double, Publisher: string, Skin color: string, Alignment: string, Weight: double]

In [32]:
heros.take(5)

[Row(Id=0, name='A-Bomb', Gender='Male', Eye color='yellow', Race='Human', Hair color='No Hair', Height=203.0, Publisher='Marvel Comics', Skin color=None, Alignment='good', Weight=441.0),
 Row(Id=1, name='Abe Sapien', Gender='Male', Eye color='blue', Race='Icthyo Sapien', Hair color='No Hair', Height=191.0, Publisher='Dark Horse Comics', Skin color='blue', Alignment='good', Weight=65.0),
 Row(Id=2, name='Abin Sur', Gender='Male', Eye color='blue', Race='Ungaran', Hair color='No Hair', Height=185.0, Publisher='DC Comics', Skin color='red', Alignment='good', Weight=90.0),
 Row(Id=3, name='Abomination', Gender='Male', Eye color='green', Race='Human / Radiation', Hair color='No Hair', Height=203.0, Publisher='Marvel Comics', Skin color=None, Alignment='bad', Weight=441.0),
 Row(Id=4, name='Abraxas', Gender='Male', Eye color='blue', Race='Cosmic Entity', Hair color='Black', Height=-99.0, Publisher='Marvel Comics', Skin color=None, Alignment='bad', Weight=-99.0)]

## <font color="red"> Exercise 1 </font>

Define a `schema` and read in `./data/super_hero_powers.csv`

In [33]:
from pyspark.sql.types import StructType
from pyspark.sql.types import BooleanType, StringType 

hero_powers = spark.read.csv('./data/super_hero_powers.csv',header=True,inferSchema=True,nullValue='-')
hero_powers

DataFrame[hero_names: string, Agility: boolean, Accelerated Healing: boolean, Lantern Power Ring: boolean, Dimensional Awareness: boolean, Cold Resistance: boolean, Durability: boolean, Stealth: boolean, Energy Absorption: boolean, Flight: boolean, Danger Sense: boolean, Underwater breathing: boolean, Marksmanship: boolean, Weapons Master: boolean, Power Augmentation: boolean, Animal Attributes: boolean, Longevity: boolean, Intelligence: boolean, Super Strength: boolean, Cryokinesis: boolean, Telepathy: boolean, Energy Armor: boolean, Energy Blasts: boolean, Duplication: boolean, Size Changing: boolean, Density Control: boolean, Stamina: boolean, Astral Travel: boolean, Audio Control: boolean, Dexterity: boolean, Omnitrix: boolean, Super Speed: boolean, Possession: boolean, Animal Oriented Powers: boolean, Weapon-based Powers: boolean, Electrokinesis: boolean, Darkforce Manipulation: boolean, Death Touch: boolean, Teleportation: boolean, Enhanced Senses: boolean, Telekinesis: boolean, Energy Beams: boolean, Magic: boolean, Hyperkinesis: boolean, Jump: boolean, Clairvoyance: boolean, Dimensional Travel: boolean, Power Sense: boolean, Shapeshifting: boolean, Peak Human Condition: boolean, Immortality: boolean, Camouflage: boolean, Element Control: boolean, Phasing: boolean, Astral Projection: boolean, Electrical Transport: boolean, Fire Control: boolean, Projection: boolean, Summoning: boolean, Enhanced Memory: boolean, Reflexes: boolean, Invulnerability: boolean, Energy Constructs: boolean, Force Fields: boolean, Self-Sustenance: boolean, Anti-Gravity: boolean, Empathy: boolean, Power Nullifier: boolean, Radiation Control: boolean, Psionic Powers: boolean, Elasticity: boolean, Substance Secretion: boolean, Elemental Transmogrification: boolean, Technopath/Cyberpath: boolean, Photographic Reflexes: boolean, Seismic Power: boolean, Animation: boolean, Precognition: boolean, Mind Control: boolean, Fire Resistance: boolean, Power Absorption: boolean, Enhanced Hearing: boolean, Nova Force: boolean, Insanity: boolean, Hypnokinesis: boolean, Animal Control: boolean, Natural Armor: boolean, Intangibility: boolean, Enhanced Sight: boolean, Molecular Manipulation: boolean, Heat Generation: boolean, Adaptation: boolean, Gliding: boolean, Power Suit: boolean, Mind Blast: boolean, Probability Manipulation: boolean, Gravity Control: boolean, Regeneration: boolean, Light Control: boolean, Echolocation: boolean, Levitation: boolean, Toxin and Disease Control: boolean, Banish: boolean, Energy Manipulation: boolean, Heat Resistance: boolean, Natural Weapons: boolean, Time Travel: boolean, Enhanced Smell: boolean, Illusions: boolean, Thirstokinesis: boolean, Hair Manipulation: boolean, Illumination: boolean, Omnipotent: boolean, Cloaking: boolean, Changing Armor: boolean, Power Cosmic: boolean, Biokinesis: boolean, Water Control: boolean, Radiation Immunity: boolean, Vision - Telescopic: boolean, Toxin and Disease Resistance: boolean, Spatial Awareness: boolean, Energy Resistance: boolean, Telepathy Resistance: boolean, Molecular Combustion: boolean, Omnilingualism: boolean, Portal Creation: boolean, Magnetism: boolean, Mind Control Resistance: boolean, Plant Control: boolean, Sonar: boolean, Sonic Scream: boolean, Time Manipulation: boolean, Enhanced Touch: boolean, Magic Resistance: boolean, Invisibility: boolean, Sub-Mariner: boolean, Radiation Absorption: boolean, Intuitive aptitude: boolean, Vision - Microscopic: boolean, Melting: boolean, Wind Control: boolean, Super Breath: boolean, Wallcrawling: boolean, Vision - Night: boolean, Vision - Infrared: boolean, Grim Reaping: boolean, Matter Absorption: boolean, The Force: boolean, Resurrection: boolean, Terrakinesis: boolean, Vision - Heat: boolean, Vitakinesis: boolean, Radar Sense: boolean, Qwardian Power Ring: boolean, Weather Control: boolean, Vision - X-Ray: boolean, Vision - Thermal: boolean, Web Creation: boolean, Reality Warping: boolean, Odin Force: boolean, Symbiote Costume: boolean, Speed Force: boolean, Phoenix Force: boolean, Molecular Dissipation: boolean, Vision - Cryo: boolean, Omnipresent: boolean, Omniscient: boolean]

In [35]:
from pyspark.sql.types import StructType
from pyspark.sql.types import BooleanType, StringType 

hero_powers = spark.read.csv('./data/super_hero_powers.csv',header=True,inferSchema=True,nullValue='-')
powers_schema = (StructType()
  .add('hero_names',BooleanType(),False)
  .add('Agility',BooleanType(),True)
  .add('Accelerated Healing',BooleanType(),True)
  .add('Lantern Power Ring',BooleanType(),True)
  .add('Dimensional Awareness',BooleanType(),True)
  .add('Cold Resistance',BooleanType(),True) #and so on, i am not doing all of these rows
)

## `pyspark.sql` queries are like `SQL` queries

#### Filter, group, and aggregate (categorical)

In [36]:
(heros
     .where(heros.Gender == 'Male')
     .groupby(heros['Eye color'])
     .count()
     .take(5)
) >> to_pandas

  Eye color  count
0      grey      6
1     green     30
2    yellow     16
3      bown      1
4      None    121

#### Group by multiple and aggregate (categorical)

In [37]:
(heros
     .groupby(heros['Eye color'], heros.Gender)
     .count()
     .take(5)
) >> to_pandas

                 Eye color  Gender  count
0  yellow (without irises)    None      1
1                    green    Male     30
2                   violet  Female      2
3                    hazel  Female      3
4                     blue    Male    143

## <font color="red"> Exercise 2 </font>
    
Perform `pyspark.sql` queries to answer each of the following questions.

1. How many heroes have both Super Strength and Super Speed?
2. How many heroes have names that start with the word *Black*
3. Are heroes with Agility more likely to have Stealth?
4. What fraction of all heroes that can fly also have Super Strength?
5. Consider heroes that have names that contain `"girl"`, `"boy"`, `"woman"`, or `"man"`.  Compute the following ratio

$$\frac{N(\text{boy or man})}{N(\text{girl or woman}}$$

**Hint:** You will need to use some combination of `where`, `group_by`, and `count` for each part.

In [38]:
#Question 1 
from more_pyspark import to_pandas
(hero_powers
  .where(hero_powers['Super Strength'] ==True)
  .groupby(hero_powers['Super Speed'])
  .count()
  .take(1)
 ) >> to_pandas

   Super Speed  count
0         True    219

In [51]:
#Question 2
(hero_powers
  .where(hero_powers.hero_names.startswith("Black")==True)
  .groupby()
  .count()
  .take(5)
 )

[Row(count=16)]

In [52]:
#Question 3
(hero_powers
  .groupby(hero_powers['Stealth'],hero_powers['Agility'])
  .count()
  .take(5)
 )

[Row(Stealth=True, Agility=False, count=31),
 Row(Stealth=True, Agility=True, count=95),
 Row(Stealth=False, Agility=False, count=394),
 Row(Stealth=False, Agility=True, count=147)]

In [53]:
#Question 4
(hero_powers
  .where(hero_powers['Flight']==True)
  .groupby(hero_powers['Super Strength'])
  .count()
  .take(5)
 )

[Row(Super Strength=True, count=147), Row(Super Strength=False, count=65)]

In [136]:
#Question 5
boys = (hero_powers
    .where(hero_powers.hero_names.contains("boy")|hero_powers.hero_names.contains("man"))
    .groupby()
    .count()
    .take(2)

) >>to_pandas

girls = (hero_powers
    .where(hero_powers.hero_names.contains("girl")|hero_powers.hero_names.contains("woman"))
    .groupby()
    .count()
    .take(2)
    ) >>to_pandas

gender = boys/girls
gender

   count
0    2.9

# Appendix

## Creating rows from list of data

## Creating a Row class

* Pass `Row` the columns names
* Creates a specialized `Row` class

In [ ]:
Employee = Row("firstName", "lastName", "email", "salary")
Employee

## Creating a `Employee` instance

* Pass the data to `Employee` to make a row
* Order matters ... use the same order as names

In [ ]:
Employee = Row("firstName", "lastName", "email", "salary")
employee1 = Employee('michael', 'armbrust', 'no-reply@berkeley.edu', 100000)
employee1

Row(firstName='michael', lastName='armbrust', email='no-reply@berkeley.edu', salary=100000)

## Unpacking a data list

* Suppose the data is in a list/tuple.
* Use sequence unpacking with `*`

In [ ]:
empl2_info = ('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)
empl2_info

('xiangrui', 'meng', 'no-reply@stanford.edu', 120000)

In [ ]:
employee2 = Employee(*empl2_info)
employee2

Row(firstName='xiangrui', lastName='meng', email='no-reply@stanford.edu', salary=120000)

## Unpacking

In [ ]:
# Create the Employees
Employee = Row("firstName", "lastName", "email", "salary")
employees = [('michael', 'armbrust', 'no-reply@berkeley.edu', 100000),
             ('xiangrui', 'meng', 'no-reply@stanford.edu', 120000),
             ('matei', None, 'no-reply@waterloo.edu', 140000),
             (None, 'wendell', 'no-reply@berkeley.edu', 160000)]
emp_rows = [Employee(*r) for r in employees]
emp_rows

[Row(firstName='michael', lastName='armbrust', email='no-reply@berkeley.edu', salary=100000),
 Row(firstName='xiangrui', lastName='meng', email='no-reply@stanford.edu', salary=120000),
 Row(firstName='matei', lastName=None, email='no-reply@waterloo.edu', salary=140000),
 Row(firstName=None, lastName='wendell', email='no-reply@berkeley.edu', salary=160000)]