#### Setting up Colab

To run this notebook on [Google's Colab](https://colab.research.google.com), you will need to perform the following steps.

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 39 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 45.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=47184dabebc894cb699b782bb4d142670b136d126085c26b91cf8f7657df6737
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [5]:
!pip install composable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting composable
  Downloading composable-0.2.5-py3-none-any.whl (7.3 kB)
Collecting python-forge<19.0,>=18.6
  Downloading python_forge-18.6.0-py35-none-any.whl (31 kB)
Collecting toolz<0.12.0,>=0.11.1
  Downloading toolz-0.11.2-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.2 MB/s
Installing collected packages: toolz, python-forge, composable
  Attempting uninstall: toolz
    Found existing installation: toolz 0.12.0
    Uninstalling toolz-0.12.0:
      Successfully uninstalled toolz-0.12.0
Successfully installed composable-0.2.5 python-forge-18.6.0 toolz-0.11.2

Step 2. Download and unzip the data

Next, the easiest way to access the data from the module is to download and unzip.

In [2]:
!wget https://github.com/wsu-stat489/module5_intro_to_pyspark/raw/main/data.zip

--2022-10-11 13:54:30--  https://github.com/wsu-stat489/module5_intro_to_pyspark/raw/main/data.zip
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/wsu-stat489/module5_intro_to_pyspark/main/data.zip [following]
--2022-10-11 13:54:31--  https://raw.githubusercontent.com/wsu-stat489/module5_intro_to_pyspark/main/data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14959102 (14M) [application/zip]
Saving to: ‘data.zip’

data.zip            100%[===================>]  14.27M  --.-KB/s    in 0.1s

2022-10-11 13:54:31 (128 MB/s) - ‘data.zip’ saved [14959102/14959102]

In [3]:
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: __MACOSX/._data
  inflating: data/Rochester_temps_2019.xlsx
  inflating: __MACOSX/data/._Rochester_temps_2019.xlsx
  inflating: data/uber-raw-data-jun14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-jun14-sample.csv
  inflating: data/heroes_information.csv
  inflating: __MACOSX/data/._heroes_information.csv
  inflating: data/employee.csv
  inflating: __MACOSX/data/._employee.csv
  inflating: data/uber-raw-data-apr14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-apr14-sample.csv
   creating: data/baseball/
  inflating: __MACOSX/data/._baseball
  inflating: data/uber-raw-data-may14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-may14-sample.csv
  inflating: data/auto_sales_apr.csv
  inflating: __MACOSX/data/._auto_sales_apr.csv
  inflating: data/uber-raw-data-sep14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-sep14-sample.csv
  inflating: data/department.csv
  inflating: __MACOSX/data/._department.csv
  inflating: data/PEW_income_religion.csv
  inflating: __MACOSX/data/._PEW_income_religion.csv
  inflating: data/health_survey.csv
  inflating: __MACOSX/data/._health_survey.csv
  inflating: data/TB_bad.csv
  inflating: __MACOSX/data/._TB_bad.csv
  inflating: data/uber-raw-data-aug14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-aug14-sample.csv
  inflating: data/uber-raw-data-jul14-sample.csv
  inflating: __MACOSX/data/._uber-raw-data-jul14-sample.csv
  inflating: data/auto_sales_may.csv
  inflating: __MACOSX/data/._auto_sales_may.csv
  inflating: data/auto_sales.csv
  inflating: __MACOSX/data/._auto_sales.csv
  inflating: data/Rochester_temps_2019.csv
  inflating: __MACOSX/data/._Rochester_temps_2019.csv
   creating: data/baseball/core/
  inflating: __MACOSX/data/baseball/._core
  inflating: data/baseball/README.txt
  inflating: __MACOSX/data/baseball/._README.txt
   creating: data/baseball/upstream/
  inflating: __MACOSX/data/baseball/._upstream
  inflating: data/baseball/core/AwardsManagers.csv
  inflating: __MACOSX/data/baseball/core/._AwardsManagers.csv
  inflating: data/baseball/core/Managers.csv
  inflating: __MACOSX/data/baseball/core/._Managers.csv
  inflating: data/baseball/core/AwardsPlayers.csv
  inflating: __MACOSX/data/baseball/core/._AwardsPlayers.csv
  inflating: data/baseball/core/Fielding.csv
  inflating: __MACOSX/data/baseball/core/._Fielding.csv
  inflating: data/baseball/core/Salaries.csv
  inflating: __MACOSX/data/baseball/core/._Salaries.csv
  inflating: data/baseball/core/Parks.csv
  inflating: __MACOSX/data/baseball/core/._Parks.csv
  inflating: data/baseball/core/Schools.csv
  inflating: __MACOSX/data/baseball/core/._Schools.csv
  inflating: data/baseball/core/People.csv
  inflating: __MACOSX/data/baseball/core/._People.csv
  inflating: data/baseball/core/PitchingPost.csv
  inflating: __MACOSX/data/baseball/core/._PitchingPost.csv
  inflating: data/baseball/core/Teams.csv
  inflating: __MACOSX/data/baseball/core/._Teams.csv
  inflating: data/baseball/core/Appearances.csv
  inflating: __MACOSX/data/baseball/core/._Appearances.csv
  inflating: data/baseball/core/AwardsSharePlayers.csv
  inflating: __MACOSX/data/baseball/core/._AwardsSharePlayers.csv
  inflating: data/baseball/core/TeamsFranchises.csv
  inflating: __MACOSX/data/baseball/core/._TeamsFranchises.csv
  inflating: data/baseball/core/Batting.csv
  inflating: __MACOSX/data/baseball/core/._Batting.csv
  inflating: data/baseball/core/ManagersHalf.csv
  inflating: __MACOSX/data/baseball/core/._ManagersHalf.csv
  inflating: data/baseball/core/FieldingOF.csv
  inflating: __MACOSX/data/baseball/core/._FieldingOF.csv
  inflating: data/baseball/core/Pitching.csv
  inflating: __MACOSX/data/baseball/core/._Pitching.csv
  inflating: data/baseball/core/CollegePlaying.csv
  inflating: __MACOSX/data/baseball/core/._CollegePlaying.csv
  inflating: data/baseball/core/HomeGames.csv
  inflating: __MACOSX/data/baseball/core/._HomeGames.csv
  inflating: data/baseball/core/HallOfFame.csv
  inflating: __MACOSX/data/baseball/core/._HallOfFame.csv
  inflating: data/baseball/core/readme2014.txt
  inflating: __MACOSX/data/baseball/core/._readme2014.txt
  inflating: data/baseball/core/AwardsShareManagers.csv
  inflating: __MACOSX/data/baseball/core/._AwardsShareManagers.csv
  inflating: data/baseball/core/BattingPost.csv
  inflating: __MACOSX/data/baseball/core/._BattingPost.csv
  inflating: data/baseball/core/TeamsHalf.csv
  inflating: __MACOSX/data/baseball/core/._TeamsHalf.csv
  inflating: data/baseball/core/SeriesPost.csv
  inflating: __MACOSX/data/baseball/core/._SeriesPost.csv
  inflating: data/baseball/core/FieldingPost.csv
  inflating: __MACOSX/data/baseball/core/._FieldingPost.csv
  inflating: data/baseball/core/AllstarFull.csv
  inflating: __MACOSX/data/baseball/core/._AllstarFull.csv
  inflating: data/baseball/core/FieldingOFsplit.csv
  inflating: __MACOSX/data/baseball/core/._FieldingOFsplit.csv
  inflating: data/baseball/upstream/Teams.csv
  inflating: __MACOSX/data/baseball/upstream/._Teams.csv

In [4]:
!wget https://github.com/wsu-stat489/module5_intro_to_pyspark/raw/main/more_pyspark.py

--2022-10-11 13:54:32--  https://github.com/wsu-stat489/module5_intro_to_pyspark/raw/main/more_pyspark.py
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/wsu-stat489/module5_intro_to_pyspark/main/more_pyspark.py [following]
--2022-10-11 13:54:33--  https://raw.githubusercontent.com/wsu-stat489/module5_intro_to_pyspark/main/more_pyspark.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2786 (2.7K) [text/plain]
Saving to: ‘more_pyspark.py’

more_pyspark.py     100%[===================>]   2.72K  --.-KB/s    in 0s

2022-10-11 13:54:33 (41.3 MB/s) - ‘more_pyspark.py’ saved [2786/2786]

# Select, Filter, and Mutate in `pyspark`

In this lecture, we will look at three important actions used to process data frames.  While each framework uses different names for these functions, we will use the names from the `R` library `dplyr`, namely `select`, `mutate`, and `filter`.  The most important takeaway will be that, regardless of framework or scale, we can process data frames in the same way by applying the same sequence of data verbs.

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean

spark1 = SparkSession.builder.appName('Ops').getOrCreate()
df_spark = spark1.read.csv('data/heroes_information.csv', inferSchema=True, header=True)

## Selecting Columns

The first verb, `select` 

* filters the *columns*
* At the core of `SQL` statements

In [7]:
from more_pyspark import to_pandas
from pyspark.sql.functions import column, col

pyspark_result = (df_spark.
                    select(df_spark.name, # Column via dataframe.name
                           col('Gender'), # Column expression (lazy)
                           'Weight'). # String
                    take(5))
pyspark_result >> to_pandas

          name Gender  Weight
0       A-Bomb   Male   441.0
1   Abe Sapien   Male    65.0
2     Abin Sur   Male    90.0
3  Abomination   Male   441.0
4      Abraxas   Male   -99.0

## Filtering Rows

The next verb, `filter` 

* filters the *rows*
* is related to the `SQL` `WHERE` clause
* `pyspark`: Use the `where` method

#### `where` in `pyspark` using `dataframe.col_name`

In [8]:
f_result = (df_spark
            .where(df_spark.Gender == 'Male')
            .take(5))
f_result >> to_pandas

,_c0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

#### `where` in `pyspark` using column expression

`col('name')` is lazy and analogous to `X.name` or `X['name']` in `dfply`

In [9]:
col('Gender') == 'Male'

Column<'(Gender = Male)'>

In [10]:
f_result = (df_spark
            .where(col('Gender') == 'Male')
            .take(5))
f_result >> to_pandas

,_c0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Chaining Data Verbs

* Processing df $\rightarrow$ chaining data verbs
* Accomplished through dot-chains

## Example 1 - `select` + `filter`

In [11]:
sf_result = (df_spark
            .where(df_spark.Gender == 'Male')
            .select(df_spark.name, 
                   df_spark.Gender, 
                   df_spark.Weight)
            .take(5))
sf_result >> to_pandas

          name Gender  Weight
0       A-Bomb   Male   441.0
1   Abe Sapien   Male    65.0
2     Abin Sur   Male    90.0
3  Abomination   Male   441.0
4      Abraxas   Male   -99.0

## Example 2 - `filter` + `filter`

Note that chaining `filter`s is an `and` operation.

In [12]:
ff_result = (df_spark
            .select(df_spark.name, 
                    df_spark.Gender, 
                    df_spark.Weight)
            .where(df_spark.Gender == 'Male')
            .where(df_spark.Weight > 0)
            .take(5))
ff_result >> to_pandas

            name Gender  Weight
0         A-Bomb   Male   441.0
1     Abe Sapien   Male    65.0
2       Abin Sur   Male    90.0
3    Abomination   Male   441.0
4  Absorbing Man   Male   122.0

## <font color="red"> Exercise 1: Blue-eyed Heroes </font>

Create a query that

1. Selects the name, Gender, and Eye Color columns
2. Filters on eye_color == 'blue'

In [13]:
# Your code here

## Constructing New Columns

The third verb, `mutate` 

* Creates new columns
* Changes existing columns
* `pyspark`: Use the `withColumns` method

## Example 3 - Converting Weight to kilograms

Currently, the weight column is in pounds.  Let's convert to kilograms.

#### Using `df.col_name`

In [14]:
m_result = (df_spark
            .select(df_spark.name, 
                    df_spark.Gender, 
                    df_spark.Weight)
            .withColumn('Weight_kg', df_spark.Weight/2.2046)
            .take(5))
m_result >> to_pandas

          name Gender  Weight   Weight_kg
0       A-Bomb   Male   441.0  200.036288
1   Abe Sapien   Male    65.0   29.483807
2     Abin Sur   Male    90.0   40.823732
3  Abomination   Male   441.0  200.036288
4      Abraxas   Male   -99.0  -44.906105

#### Using `col('name')`

In [15]:
m_result = (df_spark
           .select(df_spark.name, 
                   df_spark.Gender, 
                   df_spark.Weight)
           .withColumn('Weight_kg', col('Weight')/2.2046)
           .take(5))
m_result >> to_pandas

          name Gender  Weight   Weight_kg
0       A-Bomb   Male   441.0  200.036288
1   Abe Sapien   Male    65.0   29.483807
2     Abin Sur   Male    90.0   40.823732
3  Abomination   Male   441.0  200.036288
4      Abraxas   Male   -99.0  -44.906105

## Referencing a new column

 Use the `col` function with the label from `withColumn`

## Example 4 - Converting Weight to kilograms and filter

Let's find all heroes with a weight under 100kg.

In [16]:
from pyspark.sql.functions import col
new_col_result = (df_spark
                  .select(df_spark.name, df_spark.Gender, df_spark.Weight)
                  .withColumn('Weight_kg', df_spark.Weight/2.2046)
                  .where(col('Weight_kg') < 100)
                  .take(5))
new_col_result >> to_pandas

            name Gender  Weight  Weight_kg
0     Abe Sapien   Male    65.0  29.483807
1       Abin Sur   Male    90.0  40.823732
2        Abraxas   Male   -99.0 -44.906105
3  Absorbing Man   Male   122.0  55.338837
4    Adam Monroe   Male   -99.0 -44.906105

## <font color="red"> Exercise 2: Tall Heroes </font>

Create a query that

1. Selects the name, Gender, and Height columns
2. Compute the height in inches.
    * Check [here](https://www.kaggle.com/claudiodavi/superhero-set) to determine the current units.
3. Filters on height_in > 72

In [17]:
# Your code here