# More on Column Expressions

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, column, mean
from more_pyspark import to_pandas

spark1 = SparkSession.builder.appName('Ops').getOrCreate()
heros = spark1.read.csv('data/heroes_information.csv', inferSchema=True, header=True)

heros

DataFrame[_c0: int, name: string, Gender: string, Eye color: string, Race: string, Hair color: string, Height: double, Publisher: string, Skin color: string, Alignment: string, Weight: double]

In [17]:
heros.take(5) >> to_pandas

   _c0         name Gender Eye color               Race Hair color  Height          Publisher Skin color Alignment  Weight
0    0       A-Bomb   Male    yellow              Human    No Hair   203.0      Marvel Comics          -      good   441.0
1    1   Abe Sapien   Male      blue      Icthyo Sapien    No Hair   191.0  Dark Horse Comics       blue      good    65.0
2    2     Abin Sur   Male      blue            Ungaran    No Hair   185.0          DC Comics        red      good    90.0
3    3  Abomination   Male     green  Human / Radiation    No Hair   203.0      Marvel Comics          -       bad   441.0
4    4      Abraxas   Male      blue      Cosmic Entity      Black   -99.0      Marvel Comics          -       bad   -99.0

## `pyspark.sql` columns also generate expression

In [18]:
col('Height')

Column<'Height'>

In [19]:
col('Height') > 3

Column<'(Height > 3)'>

In [20]:
5*col('height') + 2 # col is an alias for column

Column<'((height * 5) + 2)'>

## Column expressions can combine columns

In [21]:
col('Height') + col('Weight')

Column<'(Height + Weight)'>

## Columns work with other `pyspark.sql.functions`

In [26]:
mean(col('height'))

Column<'avg(height)'>

## Columns expressions can be assigned a name using the `alias` method

In [27]:
mean(col('height')).alias('mean_height')

Column<'avg(height) AS `mean_height`'>

In [ ]:
expr()